app = "brighten-pocketbase"
primary_region = "ord"

[build]

[http_service]
  internal_port = 8090
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1

[mounts]
  source = "pb_data"
  destination = "/pb_data"
